.pio
main/configuration.h
main/credentials.h

# ignore vscode IDE settings files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace

.idea

.DS_Store
Thumbs.db
.autotools
.built
.context
.cproject
.vagrant
nanopb*
flash.uf2
cmake-build*
__pycache__

*.swp
*.swo
*~

venv/
release/
.vscode/extensions.json
/compile_commands.json
platformio.ini
.vscode/extensions.json
variants/tbeam/platformio.ini
download_fs.py
data/static/apple-touch-icon.png.gz
data/static/favicon.ico.gz
data/static/icon.svg.gz
data/static/index-0AMga6GL.js.gz
data/static/index-H3yz6dTg.js.gz
data/static/index-SK2yn6IJ.css.gz
data/static/index.html.gz
data/static/Logo_Black.svg.gz
data/static/Logo_White.svg.gz
data/static/maplibre-gl-bXi9LezG.js.gz
data/static/robots.txt.gz
data/static/site.webmanifest.gz
.vscode/settings.jsonsrc/mesh/raspihttp/certificate.pem
src/mesh/raspihttp/private_key.pemdownload_fs.py
.vscode/settings.json
